<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
<h1>Add new book</h1>
    <form th:method="post" th:action="@{/books}" th:object="${book}">
        <input type="text" placeholder="Name of the book" th:field="*{name}">
        <input type="number" placeholder="count of the book" th:field="*{count}">
        <input type="number" placeholder="available count of the book" th:field="*{availableCount}">
        <input type="submit" value="Add" />
    </form>
    <a th:href="@{/books}">Books</a>
</body>
</html>