<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
</head>
<body>
    <form th:method="patch" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
        <input type="text" placeholder="Name of the book" th:field="*{name}">
        <input type="number" placeholder="count of the book" th:field="*{count}">
        <input type="number" placeholder="available count of the book" th:field="*{availableCount}">
        <br/>
        <input type="submit" value="Update" />
    </form>
    <a th:href="@{/books}">Books</a>
</body>
</html>